doctype html
html
    head
        title="Discogs collection manager"
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
        link(href='https://fonts.googleapis.com/css?family=Crimson+Text', rel='stylesheet')
        
        //- link(rel='stylesheet', href='/dist/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        <!--[if lt IE 9]>
            script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
        <![endif]-->
        link(href="/css/style.css" rel="stylesheet" type="text/css")
            

    body
        .container

        
        block content
        